body{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    background-image: url("https://images.unsplash.com/photo-1554034483-04fda0d3507b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fHw%3D");
}
.hd{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
img{
    margin-left: 380px;
    margin-right: 500px;
    box-shadow: 4px 5px 3px gray;   
    height: 300px;
    width: 500px; 
}
.content{
    height: 500px;
    width: 700px;
    border: 3px black solid;
    box-sizing: border-box;
    display: block;
    margin-left: 270px;
    margin-top: 20px;
    background-color: #AED6F1;
}
li{
    padding: 10px 0 10px 0;
    margin: auto;
    list-style: square;

}
footer{
    text-align: center;
    border-top: 1px gray solid;
    box-shadow: 2px 0 0 0 grey;
    background-color: white;
}